<app-with-events></app-with-events>
<hr>
<h5>Enter a string: 
    <span><input type="text" [(ngModel)]="noto"/></span>
</h5>
<h5>
    Reversed String:
    <span>{{noto | reverse}}</span>
</h5>
<hr>
<h5>Enter a word: 
    <span><input type="text" [(ngModel)]="badCheck"/></span>
</h5>
<h5>
    <span style="color: green" *ngIf="!(badCheck | badWordsFilter); else badword">{{badCheck}}</span>
    <ng-template #badword>
        <span style="color: red">{{badCheck}}</span>
    </ng-template>
    <br>
    <button [disabled]="(badCheck | badWordsFilter)">Submit</button>
</h5>

<app-messenger-app></app-messenger-app>
<hr>
<app-b></app-b>
<hr>
<!-- <app-work-with-http></app-work-with-http> -->
<app-promises></app-promises>